<div style="position: relative; top: auto;bottom:auto;">
    <div style="position:absolute;left:18.00px;top:280px;width:30px" class="cls_009">
        <span class="cls_009">{cantidad}</span>
    </div>

    <div style="position:inherit;left:65px;top:280px;width:140px;height:3%;" class="cls_009">
        <span class="cls_009">{descripcion}</span>
    </div>

    <div style="position:absolute;left:360px;top:280px" class="cls_009">
        <span class="cls_009">$ {importeNeto}</span>
    </div>

    <div style="position:absolute;left:500px;top:280px" class="cls_009">
        <span class="cls_009">$ {total}</span>
    </div>

</div>
